body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin: 0;
}
@keyframes zoom {
    0% {transform: scale(0.7);}
    100% {transform: scale(1);}
  }

.accordion-box {
    height: 35.5em;
    padding: 1em 0;
    background-color: beige;
}
.name-accordion {
    margin: 0.1em 0;
}
.accordion-box p {
    font-weight: 600;
    margin: 0.1em 0;
}
hr {
    width: 100%;
    margin: 0;
}
.wrapper-accordion {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.accordion {
    display:flex;
    flex-direction: column;
    color: blue;
}
.accordion:hover {
    cursor: pointer;
    color: black;
}
.selects {
    position: relative;
    border-bottom: 1px solid grey;
}
.selects:active {
    color: blue;
}
.selects:hover .img{
    width: 14em;
    height: 14em;
    margin: auto;
    animation-name: zoom ;
    animation-duration: 1s;
}
.cross {
    overflow: hidden;
}
.accordion:hover .cross {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0.3rem;
    right: 0.8rem;
    background-image: url(./icon/cross.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img {
    margin: auto;
    width: 250px;
    height: 250px;
    max-height: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Mem 1*/
.img-1 {
    overflow: hidden;
    background-image: url(./img/how-i-see-russian.svg);
}
.selector-1:checked ~ .img-1 {
    max-height: 300px;
    animation: none;
}
.selector-1:checked ~ .cross {
    rotate: 45deg;
}
.open-selector-1:hover ~ .img-1 {
    max-height: 300px;
}
.hidden-checkbox {
    position: absolute;
    appearance: none;
}
.open-selector-1 {
    display: block;
    cursor: pointer;
}
.select-1:hover .cross {
    rotate: 45deg;
}

/*Mem 2*/
.img-2 {
    overflow: hidden;
    background-image: url(./img/not-a-bug-russian.svg);
}
.selector-2:checked ~ .img-2 {
    max-height: 300px;
    animation: none;
}
.selector-2:checked ~ .cross {
    rotate: 45deg;
}
.open-selector-2:hover ~ .img-2 {
    max-height: 300px;
}
.open-selector-2 {
    display: block;
    cursor: pointer;
}
.select-2:hover .cross {
    rotate: 45deg;
}

/*Mem 3*/
.img-3 {
    overflow: hidden;
    background-image: url(./img/one-hour-before-deadline.svg);
}
.selector-3:checked ~ .img-3 {
    max-height: 300px;
    animation: none;
}
.selector-3:checked ~ .cross {
    rotate: 45deg;
}
.open-selector-3:hover ~ .img-3 {
    max-height: 300px;
}
.open-selector-3 {
    display: block;
    cursor: pointer;
}
.select-3:hover .cross {
    rotate: 45deg;
}

/*Mem 4*/
.select-4:hover .img-4 {
    background-image: url(./img/reading-the-chat.svg)
}
.select-4:hover .cross {
    transform: rotate(45deg);
}

/*Mem 5*/
.select-5:hover .img-5 {
    background-image: url(./img/thanks.svg);
}
.select-5:hover .cross {
    transform: rotate(45deg);
}

@media only screen and (max-width: 820px){
    body {
        font-size: 2rem;
    }
    .accordion-box {
        height: 50rem;
        padding: 1.3rem 7rem;
    }
    .wrapper-accordion {
        width: 100%;
    }
    /*Mem 1*/
.select-1:focus .img-1 {
    background-image: url(./img/how-i-see-russian.svg);
}

.select-1:focus .cross {
    transform: rotate(45deg);
}

/*Mem 2*/
.select-2:focus .img-2 {
    background-image: url(./img/not-a-bug-russian.svg);
}
.select-2:focus .cross {
    transform: rotate(45deg);
}

/*Mem 3*/
.select-3:focus .img-3 {
    background-image: url(./img/one-hour-before-deadline.svg);
}
.select-3:focus .cross {
    transform: rotate(45deg);
}

/*Mem 4*/
.select-4:focus .img-4 {
    background-image: url(./img/reading-the-chat.svg)
}
.select-4:focus .cross {
    transform: rotate(45deg);
}

/*Mem 5*/
.select-5:focus .img-5 {
    background-image: url(./img/thanks.svg);
}
.select-5:focus .cross {
    transform: rotate(45deg);
}
}

@media only screen and (max-width: 320px){
    body {
        font-size: 0.8rem;
    }
    .accordion-box {
        padding: 1.3rem 2rem;
    }
    .accordion-box p {
        padding: 1rem 0rem;
    }

    .accordion:hover .cross {
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        top: 1rem;
        right: 0.8rem;
        background-image: url(./icon/cross.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}