body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
}

.accordion-box {
    height: 1080px;
    padding: 20px 0;
    background-color: beige;
}
.name-accordion {
    margin: 5px 0;
}
.accordion-box p {
    font-weight: 600;
    margin: 5px 0;
}
hr {
    width: 100%;
    margin: 0;
}
.wrapper-accordion {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: auto;
}

.accordion {
    display:flex;
    flex-direction: column;
    color: blue;
}
.accordion:hover {
    cursor: pointer;
    color: black;
}
.selects {
    position: relative;
}
.selects:active {
    color: blue;
}
.selects:hover .img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    margin: auto;
}
.cross {
    display: none;
}
.accordion:hover .cross {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
    background-image: url(./icon/cross.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Mem 1*/
.select-1:hover .img-1 {
    background-image: url(./img/how-i-see-russian.svg);
}
.select-1:hover .cross {
    transform: rotate(45deg);
}

/*Mem 2*/
.select-2:hover .img-2 {
    background-image: url(./img/not-a-bug-russian.svg);
}
.select-2:hover .cross {
    transform: rotate(45deg);
}

/*Mem 3*/
.select-3:hover .img-3 {
    background-image: url(./img/one-hour-before-deadline.svg);
}
.select-3:hover .cross {
    transform: rotate(45deg);
}

/*Mem 4*/
.select-4:hover .img-4 {
    background-image: url(./img/reading-the-chat.svg)
}
.select-4:hover .cross {
    transform: rotate(45deg);
}

/*Mem 5*/
.select-5:hover .img-5 {
    background-image: url(./img/thanks.svg);
}
.select-5:hover .cross {
    transform: rotate(45deg);
}